@media screen and (max-width: 31.25rem) {
  main {
    max-height: 100vh;
  }

  .container {
    flex-direction: column;
    max-height: 100vh;
  }

  h2 {
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .results {
    margin: 0 auto;
    width: 32rem;
  }

  .circle {
    width: 8.75rem;
    height: 8.75rem;
  }

  .num-rating {
    margin-left: 0;
    text-align: right;
  }

  .result {
    margin: 0 auto;
  }

  button {
    margin: 0.875rem;
  }
}
